
<div class="card m-3">
    <div class="card-body">
      <div class="panel panel-primary">
        <div class ="titulo-form">Mantenimiento de Administradores</div>
        <img  style="float: right;" class = "imagen-insert"  (click)="createAdministrador()" [src] = "environment.IMAGEN_CREAR"/>
      </div>
    </div>
  </div>
  
  <div class="card m-3">
    <div class="card-body">
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                #Id
              </th>
              <th>
                Nombre
              </th>
              <th>
                Email
              </th>            
              <th>
                Super Admin.
              </th>
              <th>
              
              </th>
              <th>
                
              </th>
              <th>
                
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let administrador of administradores">
              <td>{{administrador.id}}</td>
              <td> {{administrador.nombre}}
              </td>
              <td>
                {{administrador.email}}
              </td>      
              <td>
                <!-- <mat-slide-toggle [disabled]="true" [(ngModel)]="administrador.esSuperAdministrador"></mat-slide-toggle> -->
              </td>
              <td>
                <img *ngIf="!administradorActual(administrador)" (click)="updateAdministrador(administrador.id)" [src] = "environment.IMAGEN_EDITAR" class="imagen-grid"/>
              </td>
              <td>
                <img *ngIf="!administradorActual(administrador)" (click)="administradorDetails(administrador.id)" [src] = "environment.IMAGEN_VISUALIZAR" class="imagen-grid"/>
              </td>
              <td>
                <img *ngIf="!administradorActual(administrador)" (click)="deleteAdministrador(administrador.id)" [src] = environment.IMAGEN_ELIMINAR class="imagen-grid"/>
              </td>
  
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>