
<span class="created-by">
  ©️
  <b><a href="https://soydelivery.com.uy/" target="_blank">Magnum ERP</a></b>
  2021
</span>
<div class="socials">
  <a
    href="https://www.facebook.com/SoyDelivery"
    target="_blank"
    class="ion ion-social-facebook"
  ></a>
  <a
    href="https://www.instagram.com/soydelivery.uy/"
    target="_blank"
    class="ion ion-social-instagram"
  ></a>
  <a
    href="https://www.linkedin.com/company/soydeliveryapp/"
    target="_blank"
    class="ion ion-social-linkedin"
  ></a>
</div>
